.lens-center {
  position: relative;
  width: 40vmin;
  height: 40vmin;
  border-radius: 100%;
  left: calc(20% - (40vmin / 2));
  top: calc(25% - (40vmin / 2));
  background: radial-gradient(closest-side circle at center,
      hsl(4 5% 100% / 100%) 0%,
      hsl(4 5% 100% / 100%) 15%,
      hsl(4 10% 70% / 70%) 30%,
      hsl(4 0% 50% / 30%) 55%,
      hsl(4 0% 10% / 5%) 75%,
      transparent 99%);
  filter: blur(4px);
  animation: light_source 100s ease-in-out infinite;
}

.lens-center::before {
  content: '';
  display: block;
  width: 80vmin;
  height: 80vmin;
  left: calc((80vmin - 40vmin) / 2 * -1);
  top: calc((80vmin - 40vmin) /2 * -1);
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(closest-side circle at center,
      hsl(4 15% 70% / 15%) 0%,
      transparent 100%);
}

.lens-center::after {
  content: '';
  display: block;
  width: 4vmin;
  height: 4vmin;
  left: 65%;
  bottom: 25%;
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(closest-side circle at center,
      hsl(4 30% 70% / 60%) 0%,
      transparent 75%);
}

.circle-1 {
  width: calc(40vmin * 0.9);
  height: calc(40vmin * 0.9);
  left: 65%;
  top: 30%;
  border-radius: 100%;
  position: absolute;
  background: radial-gradient(closest-side circle at center,
      transparent 40%,
      hsl(54, 100%, 50%) 50%,
      transparent 70%);
  filter: blur(20px);
  animation: circle_effect 60s ease-in-out infinite;
}

.circle-3 {
  width: calc(40vmin * 0.85);
  height: calc(40vmin * 0.85);
  left: 64%;
  top: 29%;
  border-radius: 100%;
  position: absolute;
  background: radial-gradient(closest-side circle at center, transparent 60%, hsl(240, 100%, 50%) 70%, transparent 50%);
  filter: blur(14px);
  opacity: 0.7;
  animation: circle_effect 30s ease-in-out infinite;
}

.circle-2 {
  width: calc(40vmin * 0.4);
  height: calc(40vmin * 0.4);
  left: 58%;
  top: 32%;
  border-radius: 100%;
  position: absolute;
  background: hsl(4 10% 60% / 40%);
  filter: blur(4px);
  animation: circle_effect 20s ease-in-out infinite;
}

@keyframes light_source {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes circle_effect {
  0% {
    transform: translateX(calc(40vmin * 0.1)) translateY(calc(40vmin * 0.1));

  }

  50% {
    transform: translateX(calc(40vmin * 0.2)) translateY(calc(40vmin * 0.2));
  }

  100% {
    transform: translateX(calc(40vmin * 0.1)) translateY(calc(40vmin * 0.1));
  }
}